header{
    position: sticky;
        top: 1px;
        z-index: 100;
    nav{
        
        div{
            display: flex;
            align-items: center;
            justify-content: center;
            .navbar-brand{
                margin-left: 50px;
            }
            .nav-item{
                
                margin-left: 50px;
            }
        }
    }
}